@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?bfb2428e2bc50488a7119403e25e0894?#iefix") format("embedded-opentype"),
url("iconfont.woff2?bfb2428e2bc50488a7119403e25e0894") format("woff2"),
url("iconfont.woff?bfb2428e2bc50488a7119403e25e0894") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-account-convert:before {
	content: "\f101";
}
.icon-rotate-left:before {
	content: "\f102";
}
.icon-rotate-right:before {
	content: "\f103";
}
