@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?0291ccdf9f20bc6e0d962ab182806745?#iefix") format("embedded-opentype"),
url("iconfont.woff2?0291ccdf9f20bc6e0d962ab182806745") format("woff2"),
url("iconfont.woff?0291ccdf9f20bc6e0d962ab182806745") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-ArrowLeft:before {
	content: "\f101";
}
.icon-ArrowTop:before {
	content: "\f102";
}
.icon-ArrowTopBlack:before {
	content: "\f103";
}
.icon-arrow-back:before {
	content: "\f104";
}
.icon-basket:before {
	content: "\f105";
}
.icon-close:before {
	content: "\f106";
}
.icon-filter:before {
	content: "\f107";
}
.icon-like:before {
	content: "\f108";
}
.icon-placemark:before {
	content: "\f109";
}
.icon-search:before {
	content: "\f10a";
}
