@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?cf116528280971625f40c4cae63a2fb8?#iefix") format("embedded-opentype"),
url("iconfont.woff2?cf116528280971625f40c4cae63a2fb8") format("woff2"),
url("iconfont.woff?cf116528280971625f40c4cae63a2fb8") format("woff");
}

.iconfont {
	line-height: 1;
}

.iconfont:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.iconfont-ArrowLeft:before {
	content: "\f101";
}
.iconfont-ArrowTop:before {
	content: "\f102";
}
.iconfont-ArrowTopBlack:before {
	content: "\f103";
}
.iconfont-arrow-back:before {
	content: "\f104";
}
.iconfont-basket:before {
	content: "\f105";
}
.iconfont-cash:before {
	content: "\f106";
}
.iconfont-close:before {
	content: "\f107";
}
.iconfont-cross:before {
	content: "\f108";
}
.iconfont-delivery:before {
	content: "\f109";
}
.iconfont-deliveryDoor:before {
	content: "\f10a";
}
.iconfont-filter:before {
	content: "\f10b";
}
.iconfont-fullLogo:before {
	content: "\f10c";
}
.iconfont-like:before {
	content: "\f10d";
}
.iconfont-placemark:before {
	content: "\f10e";
}
.iconfont-search:before {
	content: "\f10f";
}
