@font-face {
	font-family: "flxvIconFont";
	src: url("flxvIconFont.woff?c206937bd1956f7350dee05f2d9a7346") format("woff");
}

.flxvIcon {
	line-height: 1;
}

.flxvIcon:before {
	font-family: flxvIconFont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.flxvIcon-back:before {
	content: "\f101";
}
.flxvIcon-close:before {
	content: "\f102";
}
.flxvIcon-down:before {
	content: "\f103";
}
.flxvIcon-funnel:before {
	content: "\f104";
}
.flxvIcon-heart:before {
	content: "\f105";
}
.flxvIcon-left:before {
	content: "\f106";
}
.flxvIcon-menu:before {
	content: "\f107";
}
.flxvIcon-ok:before {
	content: "\f108";
}
.flxvIcon-right:before {
	content: "\f109";
}
.flxvIcon-search:before {
	content: "\f10a";
}
.flxvIcon-shop:before {
	content: "\f10b";
}
.flxvIcon-shopping-bag:before {
	content: "\f10c";
}
.flxvIcon-sort:before {
	content: "\f10d";
}
.flxvIcon-up:before {
	content: "\f10e";
}
